@import url('https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --bg-dark: #1f2329;
    --bg-light: rgb(217, 229, 240);

    --light: rgb(217, 229, 240);
    --dark: rgb(25, 27, 27);
    --nice: rgb(110, 56, 172);
    --grey: rgb(143, 141, 141);

    --fh: 'Oswald';

    --shadow-xl: 0 20px 25px #0006;

    --max-width: 1100px;



}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--light);
    background-color: var(--bg-dark);
}

h1 {
    font-family: var(--fh);
    margin: 2rem 0 1.5rem 0;
    font-size: 1.5rem;
    color: var(--grey);
}

h2 {
    font-family: var(--fh);
    color: var(--nice);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.btn {
    display: inline-block;
    padding: .4rem 1.2rem;
    margin: 0 1rem 1.8rem 0;
    border: solid 2px var(--light);
    border-radius: 20px;
    color: var(--light);
    transition: all .4s ease;
    cursor: pointer;

    &:hover {
        color: var(--nice);
        border: solid 2px var(--nice);
        box-shadow: var(--shadow-xl);
    }
}

.container {
    max-width: var(--max-width);
    margin-inline: auto;
}

/* base.html */
header>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

header .menu {
    display: flex;
    gap: 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;

    & li>a {
        font-family: var(--fh);
        color: var(--light);
        text-decoration: none;
        transition: color .4s ease;

        &:hover {
            color: var(--nice);
        }
    }
}

.language form {
    display: flex;
    gap: .3rem;
}

.language form button {
    padding: 0;
    font-family: var(--fh);
    font-size: 1rem;
    font-weight: 700;
    border: none;
    background-color: transparent;
    color: var(--grey);
    transition: color .4s ease;

    &:hover {
        color: var(--light);
    }

    &.active {
        color: var(--nice);
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.pagination a {
    margin: 0 10px;
    color: var(--light);
    transition: color .4s ease;

    &:hover {
        color: var(--grey);
    }
}

.pagination span {
    color: var(--grey);
}

.pagination span.active {
    font-weight: 700;
    color: var(--light);
}

.site-footer {
    display: flex;
    justify-content: center;
    padding: 1rem 0;

    & span {
        color: var(--grey);
    }
}

/* list.html */
.task {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.task__header,
.task__wrapper {
    display: grid;
    grid-template-columns: 4.5fr 4.2fr 1.6fr 1.7fr 2.2fr;
    gap: .4rem;
    border-radius: 1.3rem;
    box-shadow: var(--shadow-xl);
}

.task__header {
    padding: .5rem 1.4rem 0.8rem 1.4rem;
    font-family: var(--fh);
    font-size: 1.4rem;
    font-weight: 600;
    background-color: var(--bg-light);
    color: var(--dark);
}

.task__wrapper {
    padding: .7rem 1.4rem;
    font-size: 1rem;
    border: 1px solid var(--grey);
    transition: all 0.2s;
}

.task__wrapper:hover {
    background: #22262c;
    border: 1px solid var(--light);
    box-shadow: var(--shadow-xl);
    transform: translateY(-2px);
}

.task__wrapper a {
    display: contents;
    color: inherit;
}

.task__wrapper span,
.task__header span {
    display: flex;
    align-items: center;
    min-width: 0;
    overflow: hidden;
}

/* Обрізання довгих текстів */
/* .title,
.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.task__wrapper .description {
    width: 100%;
    color: var(--grey);
}

.status.new {
    color: #8b5cf6;
}

.status.in_progress {
    color: #3b82f6;
}

.status.done {
    color: #16a34a;
}

.priority.high {
    color: #f97316;
}

.priority.medium {
    color: #ebd24a;
}

.priority.low {
    color: #10b981;
}

.priority.immediate {
    color: #ef4444;
    font-weight: 600;
}

/* detail.html */
.data {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.data-content>span {
    font-weight: 700;
}

.data-content>span>span {
    margin-right: .3rem;
    color: var(--grey);
}

.description pre {
    margin: 1.5em 0;
    background-color: #302d31 !important;
    color: var(--light) !important;
    border-radius: 1rem;
    padding: .8rem 1rem;
    box-shadow: var(--shadow-xl);
    overflow-x: auto;
}

.description blockquote {
    margin-left: 0;
    padding: .2rem 1.5rem;
    /* background-color: var(--grey); */
    background-color: #4c6351 !important;
    /* color: #10b981; */
    font-style: italic;
    border-left: 5px solid #10b981;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: var(--shadow-xl);
}

.description .pen-red {
    color: rgb(231, 19, 19);
    background-color: inherit;
}

.description .pen-green {
    color: rgb(37, 207, 51);
    background-color: inherit;
}

.description .marker-yellow {
    background-color: rgb(253, 253, 119);
}

.description .marker-green {
    background-color: rgb(49, 185, 49);
}

.description .marker-pink {
    background-color: rgb(252, 120, 153);
}

.description .marker-blue {
    background-color: rgb(114, 204, 253);
}

.description .image {
    margin: 0;
    max-width: 100%;
}

.description img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* create.html*/
.task-form .form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: var(--grey);

}

.task-form .form-input,
.task-form textarea,
.task-form select,
.task-form input[type="date"],
.task-form input[type="text"],
.task-form input[type="submit"] {
    padding: 0.55rem 1rem;
    border-radius: 20px;
    font-size: 1rem;
    transition: all 0.2s ease;
    background-color: var(--bg-light);
    box-shadow: var(--shadow-xl);
}

.task-form input[type="text"] {
    width: 40rem;
}

.task-form textarea {
    width: 40rem;
    min-height: 120px;
    resize: vertical;
}

.task-form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 12px;
    background-color: var(--bg-light) !important;
    padding-right: 2.5rem;
    margin-right: .2rem;
}

.task-form select option {
    background-color: var(--bg-light) !important;
}

.task-form .form-input:focus,
.task-form textarea:focus,
.task-form select:focus {
    outline: none;
    border-color: var(--nice);
    background-color: var(--light);
}

.task-form input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: var(--nice);
    transition: transform 0.1s ease;
}

.task-form .btn {
    margin-top: 1.1rem;
    padding: .5rem 1.3rem;
    background-color: var(--bg-dark);
    font-size: 1rem;
}

/* tast delete */
.task-delete p {
    font-size: 1rem;
    font-weight: 700;
}

.task-delete a {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--nice);
    transition: color .4s ease;

    &:hover {
        color: var(--grey);
    }
}

.task-delete .btn {
    margin-top: 1.2rem;
    padding: 0.5rem 1.2rem;
    background-color: var(--bg-dark);
    font-size: 1.2rem;
    font-weight: 700
}