{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<ul class="task">
    <li class="task__header">
        <span class="title">{% trans "Назва задачі" %}</span>
        <span class="description">{% trans "Опис" %}</span>
        <span class="status">{% trans "Статус" %}</span>
        <span class="priority">{% trans "Пріоритет" %}</span>
        <span class="date">{% trans "Виконати до" %}</span>
    </li>
    {% for task in tasks %}
    <li class="task__wrapper">
        <a href="{% url 'core:task-detail' task.id %}">
            <span class="title">{{ task.title }}</span>
            <span class="description">{{ task.description|truncatewords:5 }}</span>
            <span class="status {{ task.status }}">
                {% if task.status == 'done' %}✅
                {% elif task.status == 'new' %}🆕
                {% elif task.status == 'in_progress' %}➡️
                {% endif %}
                {{ task.get_status_display }}
            </span>
            <span class="priority {{ task.priority }}">{{ task.get_priority_display }}</span>
            <span class="date">{{ task.due_date }}</span>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock content %}